doctype html
html
  head
    title All Rides - UniRide
    link(rel='stylesheet', href='/styles/main.css')
  body
    .all-rides-container
      a.back-home(href='/') Back to Home
      h1 Available Rides
      table.ride-table
        thead
          tr
            th Ride ID
            th Pickup
            th Dropoff
            th Entertainment
            th Type
        tbody
          each ride in rides
            tr
              td: a(href='/single-ride/' + ride.id) #{ride.id}
              td #{ride.pickup}
              td #{ride.dropoff}
              td #{ride.entertainment}
              td #{ride.type_name}
